<h2 id= "new_psw">Forgot your password?</h2>
<div class = "container " >
    <%= link_to new_user_session_path do %>
    
      <%= fa_icon("arrow-alt-circle-left") %>
    <% end %>
  </div>
<div class = "form-fgps">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

        <div class="form-inputs">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions", class:"fg-ps" %>
          </div>
        <% end %>
</div>

