<div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.legacy.com/wp-content/uploads/2020/01/Sympathy-flowers-orange-1000-shutterstock_694680475.jpg" class="d-block w-75 object-fit mx-auto" height="450px" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://wallpaperaccess.com/full/4586806.jpg" class="d-block w-75 object-fit mx-auto" height="450px" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.allaboutgardening.com/wp-content/uploads/2021/11/Types-of-Orchids-920x511.jpg" class="d-block w-75 object-fit mx-auto" height="450px" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <h1 class= "title">Become a plant lover and spread the love</h1>

  <div class="text-end me-3 mb-5">
    <% if policy(Plant).create? %>
      <%= link_to "New plant", new_plant_path, class:"btn btn-primary" %>
    <% end %>
  </div>

  <div class="container mt-3">
    <div class="row">
      <% @plants.each do |plant| %>
        <div class="col-4 mb-5">
          <div class="card-trip">
            <% if plant.photo.key %>
              <%= cl_image_tag plant.photo.key, class:"figure-img img-fluid rounded" %>
            <% else %>
              <%= image_tag "fotopadrao", class:"figure-img img-fluid rounded" %>
            <% end  %>
            <div class="card-trip-infos">
              <div>
                <h2 class="card-title"><%= plant.specie.upcase %></h2>
                <p><%= plant.description.capitalize %></p>
              </div>
              <h2 class="card-trip-pricing">U$ <%= plant.price %></h2>
              <% if policy(plant).edit? %>
                <%= link_to 'Edit', edit_plant_path(plant), class: 'btn btn-success' %>
                <%= link_to "Remove", plant_path(plant),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: 'btn btn-danger'
                  %>
              <% end %>
            </div>
            <%= link_to "More details", plant_path(plant), class: "btn btn-primary w-100"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
