
 <div class="heading">
   <h2>Card Gallery</h2>
 </div>
 <div class="container">
<div id="plants">
  <% @plants.each do |plant| %>
   
      <%= link_to plant.specie, plant_path(plant.id) %>
                     
          <section class="gallery-block cards-gallery">
                    <div class="col-md-6 col-lg-4">          
                    <div class="row">
                      
                        <div class="card border-0 transform-on-hover">
                          <a class="lightbox" href="#"><img src=https://source.unsplash.com/300x225/?wave class="card-img-top"></a>
                          
                          <div class="card-body">
                            <%= plant.specie %>
                            <%= plant.description %>
                          </div>

                        </div>
                      </div>
                  </div>
              </div>
          </section>

          <%= link_to plant_path(plant.id), method: :delete, data: { confirm: "Delete #{plant.specie}?" } do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
      </div>
   <% end %>



<% if policy(Plant).create? %>
  <%= link_to "New plant", new_plant_path %>
<% end %>

<% if policy(Plant).destroy? %>
  <%= link_to "Delete plant", plants_path %>
<% end %>

<% @plants.each do |plant| %>
  <% if policy(plant).edit? %>
    <%= link_to "Update", edit_plant_path(plant) %>
  <% end %>
<% end %>

