<div class="container">
  <div class="back-plants"><%= link_to "Back to all plants", plants_path, class: "link plant-header" %>
  </div>


  <div class="card-plant ps-10 mx-auto" >
  <% if @plant.photo.attached? %>
    <%= cl_image_tag @plant.photo.key, class: "img" %>
    <% else %>
      <img src="https://multimidia.gazetadopovo.com.br/media/info/2017/201710/plantas-problemas-saudavel.png" alt="" class="img">
     <% end %>



    <div class="content">
      <div class="main">
        <h2 class="display-4"><%= @plant.specie%></h2>
        <p class="email"><%= @plant.user.email %></p>
      </div>

      <div class="price">
        <p><i class="fas fa-dollar-sign"></i><%= @plant.price %></p>
      </div>

      <div class="paragraph">
        <p><%= @plant.description %></p>
      </div>

      <div class="bottons text-end me-3 mb-5">
        <%= link_to "Update", edit_plant_path(@plant), method: :update, class: "btn btn-primary" %></button>
      </div>

      <div class="bottons text-end me-3 mb-5">

        <%= link_to "Buy now", plant_sales_path(@plant), method: :post, class: "btn btn-primary" %></button>
      </div>
    </div>
  </div>
</div>
