<%= render "shared/navbar" %>

<div class="container">
  <h5 class="link"><%= link_to "Back to all plants", plants_path %></h5>

  <div class="card-plant w-75" >
    <div class="img">
      <img src="https://multimidia.gazetadopovo.com.br/media/info/2017/201710/plantas-problemas-saudavel.png" alt="" class="img">
    </div>


    <div class="content">
      <div class="main">
        <h2><%= @plant.specie%></h2>
        <p><%= @plant.user.email %></p>
      </div>

      <div class="price">
        <p>R$<%= @plant.price %></p>
      </div>

      <div class="paragraph">
        <p><%= @plant.description %></p>
      </div>

      <div class="bottons">
        <p> <%= link_to "Buy now", "#" %></p>
      </div>
    </div>
  </div>
</div>
