<div class="container">
  <h5 class="link"><%= link_to "Back to all plants", plants_path %></h5>

  <div class="card-plant w-75 ps-10 mx-auto" >
    <div class="img">
      <img src="https://multimidia.gazetadopovo.com.br/media/info/2017/201710/plantas-problemas-saudavel.png" alt="" class="img">
    </div>


    <div class="content">
      <div class="main">
        <h2 class="display-4"><%= @plant.specie%></h2>
        <p><%= @plant.user.email %></p>
      </div>

      <div class="price">
        Price:
        <p>R$<%= @plant.price %></p>
      </div>

      <div class="paragraph">
        Description:
        <p><%= @plant.description %></p>
      </div>

      <div class="bottons">
        <button type="button" class="btn btn-success"><%= link_to "Buy now", plant_sales_path(@plant), method: :create, data: { confirm: "Are you sure?" } %></button>
      </div>
    </div>
  </div>
</div>

<% if policy(Plant).create? %>
  <%= link_to "New Plant", new_plant_path %>
<% end %>
